{% extends 'base.html' %}

{% block titil %}  Home {% endblock titil %}

{% block index %}
<div class="container mt-4 p-4">
    <div class="row">
        <div class="col text-center">
            <a href="" style="color: black; text-decoration: none;">
                <img src="{{ url_for('static', filename='img/youtube.png') }}" class="main-img img-fluid" alt="" srcset="">
                <h2 class="fw-bold">Download YouTube Videos</h2>
            </a>
        </div>
        <div class="col text-center">
            <a href="" style="color: black; text-decoration: none;" >
                <img src="{{ url_for('static', filename='img/insta.jpeg') }}" class=" main-img img-fluid" alt="" srcset="">
                <h2 class="fw-bold">Download Insta Videos</h2>
            </a>
        </div>
    </div>
</div>
{% endblock index %}

